@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/current';

@import './base/common.scss';
@import './base/container';

@import './components/modal-button';
@import './components/header';
@import './components/mobile-menu';
@import './components/hero';
@import './components/specialy';
@import './components/activity';
@import './components/teams';
@import './components/clients';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
@import './components/projects';



