@media screen and (max-width:1199px){
    .activity{
        display: none;
    }
}

.activity {
     padding-bottom: 94px;
}

.activity__title {
   font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.17;
   text-align: center;
    letter-spacing: 0.03em;
    font-weight: var(--bold-font);
    color: var(--primary-color);     margin-top: 0;
    margin-bottom: 50px;    justify-content: center;

}

.activity__list {
   display: flex;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
    justify-content: center;
   text-decoration: none;

}

.activity__item {
   list-style: none;
   text-decoration: none;
}

.activity__item:not(:last-child) {
 margin-right: 30px;
}

.activity__link {
 text-decoration: none;
}

.overlay-wrapper {
    position: relative;

}

.wrapper__text {
  position: absolute;
   bottom: 0%;
   right: 0%;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
  background: rgba(47, 48, 58, 0.8);
   font-family: var(--primary-font);
   font-weight: var(--bold-font);
   font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;


}