.footer {
   background-color: var(--header-color);
   margin: auto;
   padding-top: 60px;
   padding-bottom: 60px;

}

.container__footer{
    text-align: center;
}

.logo--footer {
    display: block;
    color: var(--text-color);
    margin-bottom: 20px;
}
.address{
    margin-bottom: 60px;
}
.address__list {
    list-style: none;
    padding-left: 0;
    margin: 0;

}

.address__item {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: var(--normal-font);
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}



.address__link {
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

}

.address__link--location {
    text-decoration: none;
    color: var(--text-color);


}

.text {
    font-family: var(--primary-font);
    font-weight: var(--bold-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}
.wrapper-social-page{
    margin-bottom: 60px;
}
.social-page-footer {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
}

.social-page-footer__item:not(:last-child) {
   margin-right: 10px;
}
.social-page-footer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 50% 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    } 
}




.social-page-footer__icon {
    fill: #ffffff;
}


.form__text {
    display: block;
    font-family: var(--primary-font);
    font-weight: var(--bold-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.form__input {
    color: #FFFFFF;
    padding-left: 16px;
    width: 450px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-email:focus {
    border-color: var(--accent-color);
}

.btn-send-email {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: var(--bold-font);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    padding: 10px 28px;
    border: 1px solid transparent;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send-email:hover,
.btn-send-email:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.send-email-icon {
    margin-left: 10px;
}

@media screen and (min-width:768px){
    .wrapper-container{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    .wrapper-social-page{
        margin-bottom: 0;
    }
}


@media screen and (min-width:1200px){
    .container__footer {
        display: flex;
        
        align-items: baseline;
    }
    .container-address{
        text-align: left;
        margin-right: 70px;
    }
    .text{
        text-align: left;
    }
    .form {
        display: flex;
        align-items: flex-end;
        margin-left: 93px;
    }

    .form__text{
        text-align: left;
    }
    .form__input{
        width: 358px;
    }
    .btn-send-email{
        margin-left: 12px;
        margin-top: 0;
    }
    .wrapper-container{
        margin-bottom: 0;
    }
    .address{
        margin-bottom: 0;
    }
}
// .container__footer {
//     display: flex;
//     justify-content: flex-start;
//     align-items: baseline;

// }



// .social-page-footer {
//     display: flex;
//     padding-left: 0;
//     margin-top: 20px;
//     margin-bottom: 0;
// }

// .container-address {
//     margin-right: 70px;
//     min-width: 231px;
// }

// .logo--footer{
//     color: var(--text-color);
// }

// .address {
//     margin-top: 20px;


// }

// .address__list {
//     list-style: none;
//     padding-left: 0;
//     margin: 0;

// }

// .address__item {
//     font-family: var(--primary-font);
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     font-weight: var(--normal-font);
//     font-style: normal;
// }

// .address__item:not(:last-child) {
//     margin-bottom: 9px;
// }



// .address__link {
//     text-decoration: none;

//     color: rgba(255, 255, 255, 0.6);

// }

// .address__link--location {
//     text-decoration: none;
//     color: var(--text-color);


// }

// .text {
//     font-family: var(--primary-font);
//     font-weight: var(--bold-font);
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     margin-top: 0;
//     margin-bottom: 0;
// }
// .social-page-footer__item:not(:last-child) {
//     margin-right: 10px;

// }
// .social-page-footer__link{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 46px;
//     height: 46px;
//     background-color: rgba(255, 255, 255, 0.1);
//     border: 1px solid transparent;
//     border-radius: 50% 50%;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//    &:hover,
//    &:focus {
//     background-color: var(--accent-color);
//  } 
// }




// .social-page-footer__icon {
//     fill: #ffffff;
// }

// .form{
//     display: flex;
//     align-items: flex-end;
//     margin-left: 93px;
// }

// .form__text {
//     display: block;
//     font-family: var(--primary-font);
//     font-weight: var(--bold-font);
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     margin-bottom: 20px;
// }



// .form__input {

//     color: #FFFFFF;
//     margin-right: 12px;
//     padding-left: 16px;
//     width: 358px;
//     height: 50px;
//     background-color: transparent;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .input-email:focus {
//     border-color: var(--accent-color);
// }

// .btn-send-email {
//     display: flex;
//     align-items: center;
//     text-align: center;
//     font-family: var(--primary-font);
//     font-weight: var(--bold-font);
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;
//     color: #FFFFFF;
//     background-color: var(--accent-color);
//     padding: 10px 28px;
//     border: 1px solid transparent;

//     border-radius: 4px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .btn-send-email:hover,
// .btn-send-email:focus {
//     background-color: #188CE8;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
// }

// .send-email-icon {
//     margin-left: 10px;
// }