.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height:1.88;
  font-weight: var(--bold-font);
  padding: 10px 30px 10px 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

}

