.modal {
    position: absolute;
    top: 93px;
    left: 15px;
    // transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    padding: 40px 40px;
    background-color: #FFFFFF;
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);

        .modal__icon {
            fill: var(--accent-color);
        }
    }

}

.modal__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
    display: flex;
    flex-direction: column;

}

.modal-form__text {
    font-family: var(--primary-font);
    font-weight: var(--bold-font);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 12px;
}

.modal-form__field {
    margin-bottom: 10px;
}

.modal-form__desc {
    display: block;
    font-family: var(--primary-font);
    font-weight: var(--normal-font);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-form__wrapper {
    display: block;
    position: relative;


}
.modal-form__input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);

        &+.modal-form__icon {
            fill: var(--accent-color);
        }
    }
}
.modal-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}



.modal-field-message {
    margin-bottom: 20px;
}






.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
    font-weight: var(--normal-font);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;

    &::before {
        content: "";
        display: block;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 10px;
        cursor: pointer;

        .modal-form-check:checked+& {
            background-color: var(--accent-color);
            background-image: url(../images/check-mark.svg);
            background-repeat: no-repeat;
            background-position: center;
            border-color: transparent;
            border-radius: 2px;
        }
    }
}

.modal-form-check {
    display: inline;
}

.modal-form__submit {
    align-self: center;
    padding: 10px 52px;
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

.modal-form-input-desc{
    font-family: var(--primary-font);
   font-weight: var(--normal-font);
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color:var(--secondery-color);
}


.modal-form-check:focus+.modal-form-check-desc::before {
    outline: 2px solid var(--accent-color);
}

.link-policy {

    color: var(--accent-color);
}



@media screen and (min-width:768px){
    .modal{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media  screen and (min-width:1200px){
    .modal{
        width: 528px;
        height: 581px;

    }
    .modal-form__text{
        font-size: 20px;
        line-height: 1.15;
    }
    .modal-form-check-desc{
        font-size: 14px;
        line-height: 1.71;
    }
}
// .modal__btn:hover .modal__icon,
// .modal__btn:focus .modal__icon {
//     fill: var(--accent-color);
// }



// .modal-form__text {
//     font-family: var(--primary-font);
//     font-weight: var(--bold-font);
//     font-size: 20px;
//     line-height: 1.15;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: #212121;
//     margin-top: 0;
//     margin-bottom: 12px;
// }






// .modal-form__input:focus+.modal-form__icon {
//     fill: var(--accent-color);
// }















// .modal-form-check-desc {
//     display: flex;
//     align-items: center;
//     font-family: var(--primary-font);
//     font-weight: var(--normal-font);
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: #757575;
//     margin-bottom: 30px;
//     &::before {
//     content: "";
//     display: block;
//     width: 16px;
//     height: 15px;
//     border: 2px solid #212121;
//     border-radius: 2px;
//     margin-right: 10px;
//     cursor: pointer;
//    .modal-form-check:checked+& {
//     background-color: var(--accent-color);
//     background-image: url(../images/check-mark.svg);
//     background-repeat: no-repeat;
//     background-position: center;
//     border-color: transparent;
//     border-radius: 2px;
//     }
//   }
// }






// .modal {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 450px;
//     height: 609px;
//     padding: 40px 40px;
//     background-color: #FFFFFF;
// }