.teams {
   background-color: var(--border-color);
   margin: auto;
   padding-top: 60px;
   padding-bottom: 60px;
}
.teams__item {

    background: var(--text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.employee {
    padding-top: 30px;
    padding-bottom: 24px;
    
}

.teams__photo{
    width: 100%;
}
.teams__title {
    font-family: var(--primary-font);
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 30px;
}

.employee__title {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0 auto;
    margin-bottom: 10px;

}

.employee__text {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.18;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-weight: var(--normal-font);
    color: var(--secondery-color);
    margin: 0 auto;
    margin-bottom: 16px;
}

.social-page {
    display: flex;
    padding-left: 0;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 10px;
    }
}
.social-page__item:not(:last-child) {
    margin-right: 10px;
}
.social-page__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 50% 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: #ffffff;
    }

}

@media screen and (min-width:768px){
    .teams__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        
    }

    .teams__item{
        flex-basis: calc((100% - 30px) / 2);
        
        &:not(:last-child){
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width:1200px){
    .teams{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .teams__title{
        margin-bottom: 50px;
    }
    .teams__list{
        display: flex;
        flex-wrap: nowrap;
    }
   
}
// .teams__title {
//     font-family: var(--primary-font);
//     font-size: 28px;
//     line-height: 1.17;
//     text-align: center;
//     letter-spacing: 0.03em;
//     font-weight: var(--bold-font);
//     color: var(--primary-color);
//     margin-top: 0;
//     margin-bottom: 30px;


// }

// .teams__list {
//     display: flex;
//     list-style: none;
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-left: 0;
//     justify-content: center;
// }




// .teams__item {

//     background: var(--text-color);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     text-align: center;
//     &:not(:last-child) {
//     margin-right: 30px;
//     }
// }



// .employee {
//     padding-top: 30px;
//     padding-bottom: 30px;
// }

// .employee__title {
//     font-family: var(--primary-font);
//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     font-weight: 500;
//     color: var(--primary-color);
//     margin: 0 auto;
//     margin-bottom: 10px;

// }

// .employee__text {
//     font-family: var(--primary-font);
//     font-size: 16px;
//     line-height: 1.18;
//     font-weight: 400;
//     letter-spacing: 0.03em;
//     font-weight: var(--normal-font);
//     color: var(--secondery-color);
//     margin: 0 auto;
// }

// .social-page {
//     display: flex;
//     
//     padding-left: 0;
//     justify-content: center;
//     &:not(:last-child) {
//     margin-right: 10px;
//     }
// }



// .social-page__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 44px;
//     height: 44px;
//     color: #AFB1B8;
//     background-color: #FFFFFF;
//     border: 1px solid #fff;
//     border-radius: 50% 50%;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//     background-color: var(--accent-color);
//     color: #ffffff;

//    }
// }


// .social-page__icon {

//     fill: currentColor;

// }

