h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 0.03em;


}

.image {
    display: block;
    
}