:root {
    --primary-color: #212121;
    --secondery-color: #757575;
    --accent-color: #2196F3;
    --header-color: #2F303A;
    --text-color: #fff;
    --border-color: #F5F4FA;
    --second-border-color: #EEEEEE;
    --primary-font: 'Roboto', sans-serif;
    --secondary-fonts: 'Raleway', sans-serif;
    --normal-font: 400;
    --medium-font: 500;
    --bold-font: 700;
    --bolder-font: 900;
}